<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index.html}">
<head>
    <meta charset="UTF-8">
    <title>Add News</title>
    <script src="https://cdn.tiny.cloud/1/wb6i6tfjtm9itryfi9l0coomkdhjic6y2qsis304rfo7eef2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
<div layout:fragment="content">
    <form class="form-horizontal" th:action="@{/admin/news/create}" method="post" th:object="${news}"
          enctype="multipart/form-data">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-5 control-label" for="title">Title</label>
            <div class="col-md-5">
                <input id="title" name="title" placeholder="Title" class="form-control input-md"
                       th:field="*{title}"
                       required type="text">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-5 control-label" for="description">TOUR DESCRIPTION</label>
            <div class="col-md-12">
                <textarea class="form-control" id="description" th:field="*{description}"
                          style="width: 100%; height: 300px"></textarea>
                <script>
                    tinymce.init({
                        selector: '#description',
                        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
                        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
                        toolbar_mode: 'floating',
                        tinycomments_mode: 'embedded',
                        tinycomments_author: 'quockhanh',
                    });
                </script>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="file">Upload image</label>
            <input accept="image/jpeg, image/png" id="file" name="file" required type="file">
        </div>

        <!-- Button -->
        <div class="form-group">
            <div class="col-md-5">
                <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>