<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/index}">
<head>
    <meta charset="UTF-8">
    <title>News Details</title>
    <link rel="stylesheet" href="/public/css/tour/tour_details.css">
    <link rel="stylesheet" href="/public/css/news/news.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/public/js/comment.js"></script>
</head>
<body>
<div layout:fragment="sidebar" class="col-0">
</div>
<div layout:fragment="content">
    <!--    Start Card-->
    <div class="row">
        <div class="card col-12">
            <img th:src="@{/uploads/} + ${news.image}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title" th:text="${news.title}"></h5>
                <b>Rating </b>
                <span th:each="i : ${#numbers.sequence(0, 4, 1)}">
                    <span th:if="${rate>i}">
                    <a th:href="@{/rate/}+${news.id}+'/'+${i+1}"><span class="fa fa-star checked"></span></a>
                    </span>
                    <span th:unless="${rate>i}">
                    <a th:href="@{/rate/}+${news.id}+'/'+${i+1}"><span class="fa fa-star"></span></a>
                    </span>
                </span>
                <span th:text="'(' + ${rate} + ')'"></span>
            </div>
        </div>
    </div>
    <!--    End Card-->

    <div class="row mt-5">
        <div class="col-6 justify-content-center">
            <h3>Description</h3>
            <p th:utext="${news.description}"></p>
        </div>
        <div class="col-6 mx-auto bg bg-light rounded">
            <div class="row">
                <div class="col-12" id="list_comment">
                    <h4>Comment</h4>
                    <div th:each="comment : ${news.comments}" class="row">
                        <div class="col-11 ml-2">
                            <b th:text="${comment.user.username}"></b> <span th:text="${comment.content}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-auto">
                            <textarea id="content" class="rounded"></textarea>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="post_comment"
                                    th:onclick="'postComment(\'' + ${news.id} + '\');'"
                                    type="button">Post
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>